HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Experimental Feign Stuff
src/main/java/id/ac/ui/cs/advprog/udehnihdashboard/controller/TestController.java
src/main/java/id/ac/ui/cs/advprog/udehnihdashboard/dto/Post.java
src/main/java/id/ac/ui/cs/advprog/udehnihdashboard/feign/TestFeign.java
src/main/java/id/ac/ui/cs/advprog/udehnihdashboard/service/TestService.java

### Testing Stuff
src/main/java/id/ac/ui/cs/advprog/udehnihdashboard/testings

### ENV
.env
